/Docker_Architektur.ipynb
/Docker_Dockerfile.ipynb
/Docker.ipynb
/Dockerfile
/iris_cleaned.csv
/iris_dirty.csv
/kap2.ipynb
/kap3.ipynb
/kap4.ipynb
/kap6.ipynb
/kap7-iris.ipynb
/Plot.ipynb
/hello-world.tar
/.ipynb_checkpoints
